name: Publish JupyterLab GPU image

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
    - 'gpu/pytorch.Dockerfile'
    - '.github/workflows/publish-jupyterlab-gpu-pytorch.yml'
  # schedule:
  # Monday at 05:00 AM UTC
  #   - cron: '0 5 * * 1'

jobs:
  build-and-publish-latest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf /usr/lib/jvm
          sudo apt-get clean
          df -h

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Login to the GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Generate image ID and version
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository_owner }}/jupyterlab
          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          # Strip git ref prefix from version
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          # Strip "v" prefix from tag name
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
          # 
          [ "$VERSION" == "main" ] && VERSION=gpu-pytorch-dev
          echo "IMAGE_ID=$IMAGE_ID" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      ## Cache: https://github.com/docker/build-push-action/blob/master/docs/advanced/cache.md#github-cache
      - name: Build and publish JupyterLab GPU Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: gpu/pytorch.Dockerfile
          pull: true
          push: true
          tags: ${{ env.IMAGE_ID }}:${{ env.VERSION }}